body {
    background-color: #DDD;
    margin: 0;
}

.App {
    min-height: auto;
}

.player {
    background-color: #343434;
    height: 89.7vh;
    width: 94vw;
    padding: 50px;
}

.player > h4 {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.player > p {
    color: #AAA;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.player > p span {
    font-weight: 400;
}

.player-details .details-img img {
    display: block;
    background-size: cover;
    height: 250px;
    width: 250px;
    margin: 50px auto;
    border-radius: 50%;
}
.player-controls .skip-btn {
    background: none;
    outline: none;
    cursor: pointer;
    color: rgb(118, 155, 255);
    font-size: 18px;
}

.player-details .details-title {
    color: #EEE;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.player-details .details-artist {
    color: #AAA;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #2651c5;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.Login{
    height: 70%;
    width: 80%;
    background-color: #343434;
    border-radius: 16px;
    
}